<div class="tablebody">
    <div class="table-container">
      <table class="modern-table">
        <thead>
          <tr>
            <th>Englisch</th>
            <th>Tarifyt</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Myself</td><td>Ikhfino</td></tr>
          <tr><td>Yourself</td><td>Ikhfanach</td></tr>
          <tr><td>Yourself(f)</td><td>Ikhfanam</td></tr>
          <tr><td>Himself/Herself</td><td>Ikhfanas</td></tr>
          <tr><td>Ourselves</td><td>Ikhfanagh</td></tr>
          <tr><td>Yourselves</td><td>Ikhfanwam</td></tr>
          <tr><td>Themselves</td><td>Ikhfansan</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  