
<header class="headerbox">
    <div class="header1">
        <div class="header-container">
            <div class="headertext">
                <h1>Tarifyt Dictionary</h1>
            </div>
            <img id ="bildrif" src="../../assets/images/amazigh-icon.png" alt="amazigh">
        </div>
    </div>

    <div class="header2">
        <div class="header-container">
            <div class="Wortbar">
                <a routerLink="/dictionary" routerLinkActive="active" >Dictionary</a>
                <a routerLink="/grammar" routerLinkActive="active" >Grammar</a>
                <a routerLink="/regular-expressions" routerLinkActive="active" >Regular Expressions</a>
            </div>
        </div>
    </div>
</header>
