<div class="tablebody">
  <div class="table-container">
    <table class="modern-table">
      <thead>
        <tr>
          <th>Englisch</th>
          <th>Tarifyt</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>With me</td><td>Akidiy</td></tr>
        <tr><td>With you</td><td>Akidesch</td></tr>
        <tr><td>With Him/Her</td><td>Akides</td></tr>
        <tr><td>With us</td><td>Akidnagh</td></tr>
        <tr><td>With them</td><td>Akidnem</td></tr>
      </tbody>
    </table>
  </div>
</div>
