<div class="tablebody">
    <div class="table-container">
      <table class="modern-table">
        <thead>
          <tr>
            <th>Englisch</th>
            <th>Tarifyt</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Mine</td><td>Ino</td></tr>
          <tr><td>Your</td><td>nesch</td></tr>
          <tr><td>Your(f)</td><td>nem</td></tr>
          <tr><td>Her/His</td><td>nes</td></tr>
          <tr><td>Our</td><td>nagh</td></tr>
          <tr><td>Your(p)</td><td>nwem</td></tr>
          <tr><td>Their</td><td>nsen</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  