<div class="tablebody">
    <div class="table-container">
      <table class="modern-table">
        <thead>
          <tr>
            <th>Englisch</th>
            <th>Tarifyt</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>I</td><td>Nesch</td></tr>
          <tr><td>You</td><td>schek</td></tr>
          <tr><td>You(f)</td><td>schem</td></tr>
          <tr><td>He</td><td>Nata</td></tr>
          <tr><td>She</td><td>Natath</td></tr>
          <tr><td>We</td><td>Neschin</td></tr>
          <tr><td>You(p)</td><td>Kaniw</td></tr>
          <tr><td>They</td><td>Nihni</td></tr>
          <tr><td>They(f)</td><td>Nihnti</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  